#fondHead{
    background-image: url(../images/fondHead.gif);
    
}
.space{

    display: flex;
    justify-content: space-evenly;
    
}
select {
    margin: 0;
    padding-left: 15px;
    color: #555555;
    cursor: pointer;
    }
    .dropbtn {



        border: none;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: lightgrey;
        min-width: 200px;
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    

    .dropdown:hover .dropdown-content {display: block;}
#crfootdiv1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:gray;
}
.crfootdiv2{
    width: 19em;
    height: 22em;
    background-color:red;
}
.crfootul{
    list-style:none;
    display: flex;
    flex-direction: column;    
}
.crfooth2{
    margin-right: 2em;
    display: flex;
    justify-content: center;
    background-color:greenyellow;
}
.crfootli{
    margin-right: 2em;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    text-decoration: none; 
    background-color: royalblue;
}
.crimgfoot1 {

    width: 2em;
    height: 2em;
}
.crimgfoot2 {

    width: 2em;
    height: 2em;
}
.crfoota{
    text-decoration: none; 
}

