#crfootdiv1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:gray;
}
.crfootdiv2{
    width: 19em;
    height: 22em;
    background-color:red;
}
.crfootul{
    list-style:none;
    display: flex;
    flex-direction: column;    
}
.crfooth2{
    margin-right: 2em;
    display: flex;
    justify-content: center;
    background-color:greenyellow;
}
.crfootli{
    margin-right: 2em;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    text-decoration: none; 
    background-color: royalblue;
}
.crimgfoot1 {

    width: 2em;
    height: 2em;
}
.crimgfoot2 {

    width: 2em;
    height: 2em;
}
.crfoota{
    text-decoration: none; 
}